*{
    margin: 0;
    padding: 0;

}

.hd-main{
    display:flex;
    height: 150px;
    background-color: coral;
    font-size: 25px;
    justify-content: center;
    
}

.container-main{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.btn-modern{

    background-color: cadetblue;
    padding: 15px;
    width: 150px;
}
.btn-modern:hover{
    background-color:crimson;
    box-shadow: 10px 10px lightblue;
    color: white;
    translate: 0px -5px;
    transition: 0.4;
    animation-timing-function: ease-in-out;
}